<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background:aqua;
        }
    </style>
</head>
<body>
     {% comment %} <form action="" method="get"> 
        <table>
            {% comment %} {% for i in form %} {% endcomment %}
                {% comment %} {{i.label_tag}}
                {{i}}
            {% endfor  %} {% endcomment %} 
            {% comment %} {{form.as_p}} {% endcomment %}
        {% comment %} </table>  {% endcomment %} 



       <form action="" method="post" novalidate> 
           {% csrf_token %}
            <table>
                {{form.as_p}}
            </table> 
        <input type="submit" value="submit"> 
    </form>
</body>
</html>